textField {
    margin-left: 1px;
    margin-right: 1px;
}
formControl {
    margin: 1px;
    min-width: 120px;
}
selectEmpty {
    margin-top: 1px;
}
h4 {
    margin: 20px;
}
form {
    margin: 20px;
}

.MyButton{
    margin-top: 50px !important;
}